
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.pidb
*.booproj
*.suo
*.user
*.userprefs
*.unityproj
*.dll
*.exe
*.pdf
*.mid
*.midi
*.gif
*.ico
*.psd
*.tga
*.tif
*.tiff
*.avi
*.mov
*.asf
*.asx
*.wmv
*.webm
*.mkv
*.unitypackage
/My project/.vs/My project/FileContentIndex
/My project/.vs/My project/FileContentIndex
/My project/.vs/My project/CopilotIndices
*.vsidx