
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.pidb
*.booproj
*.suo
*.user
*.userprefs
*.unityproj
*.dll
*.exe
*.pdf
*.mid
*.midi
*.gif
*.ico
*.psd
*.tga
*.tif
*.tiff
*.avi
*.mov
*.asf
*.asx
*.wmv
*.webm
*.mkv
*.unitypackage
*.vsidx

My project/Assets/Sounds/SecondGame/Player/move.wav.meta
My project/Assets/Sounds/SecondGame/Player/look.wav.meta
My project/Assets/Sounds/SecondGame/Player/interact.wav.meta
My project/Assets/Sounds/SecondGame/Player/collision.wav.meta
My project/Assets/Sounds/SecondGame/Player/alert_3.wav.meta
My project/Assets/Sounds/SecondGame/Player/alert_2.wav.meta
My project/Assets/Sounds/SecondGame/Player/alert.wav.meta
My project/Assets/Sounds/SecondGame/monster_1.wav.meta
My project/Assets/Sounds/SecondGame/Interactables/wall.wav.meta
My project/Assets/Sounds/SecondGame/Interactables/unknown.wav.meta
My project/Assets/Sounds/SecondGame/Interactables/key.wav.meta
My project/Assets/Sounds/SecondGame/Interactables/door.wav.meta
My project/Assets/Sounds/SecondGame/Interactables/desk.wav.meta
My project/Assets/Sounds/SecondGame/Interactables/bed.wav.meta
My project/Assets/Sounds/SecondGame/game_over.wav.meta
My project/Assets/Sounds/SecondGame/erik-satie-gnossienne-no_7.wav.meta
